@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}
<div class="row m-5 justify-content-md-center">
    <div class="col-md-6 col-12 p-5 bg-white shadow-sm rounded-3">
        <div>
            <h1 class="adoptly-font-medium mb-1">Reset password</h1>
            <p class="small text-muted">Enter your email and we'll send you reset instructions.</p>
        </div>
        <form class="d-flex flex-column gap-3" asp-controller="Email" asp-action="ResetPassword" novalidate>
            <div class="form-floating">
                <input asp-for="Email" type="email" class="form-control" placeholder="Enter your email...">
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="small adoptly-text-danger d-block mt-1"></span>
            </div>
            @if (ViewBag.Success is not null)
            {
                <span class="adoptly-text-danger small d-block">
                    @Html.Raw(ViewBag.Success)
                </span>
            }
            @Html.ValidationMessage("Failure", new { @class = "small adoptly-text-danger d-block" })
            <div class="form-group">
                <input type="submit" value="Reset password" class="adoptly-btn-primary p-2 rounded-3 w-100">
            </div>
        </form>
    </div>
</div>