@{
    ViewData["Title"] = "Verified";
}

<div class="row m-5 justify-content-md-center">
    <div class="col-md-6 col-12 p-5 bg-white shadow-sm rounded-3">
        <div>
            <h1 class="adoptly-font-medium mb-1">Email verified</h1>
            <p class="small text-muted">Thank you for verifying your email.</p>
        </div>
        <div class="p-5 text-center">
            <img class="w-25" src="~/assets/img/logos/Colourmark_Square_Main.png" alt="This image is the logo for the Adoptly website."/>
        </div>
        <span class="small text-muted">Please click the link to <a class="adoptly-link" asp-controller="Login" asp-action="Index">log in</a> and use the application.</span>
    </div>
</div>