@{ ViewData["Title"] = "404 - Page not found"; }

<div class="content-panel p-3">
    <div class="m-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 order-1 order-lg-0">
                <h1 class="mb-4 gradient-text">404<br>Page not found</h1>
                <p class="h2 mb-5">Oops! It looks like the link you clicked may be broken or the page may have been removed.</p>
                <a class="btn btn-lg gradient-btn" href="/">Back to home</a>
            </div>
            <div class="col-lg-6 ord-0 order-lg-1">
                <!-- Image from Rey S (n.d.) -->
                <img class="img-fluid" src="/assets/img/blobs/Blobs_404_Cat.png" alt="Image of a shocked cat">
            </div>
        </div>
    </div>
</div>