@model EditPasswordViewModel
@{
    string role = Context.Session.GetString("Role");
}

<!-- Edit password -->
@if (role != nameof(Admin))
{
    <div class="mb-3">
        <label asp-for="OldPassword" class="form-label"></label>
        <input asp-for="OldPassword" type="password" class="form-control" required>
        <span asp-validation-for="OldPassword" class="small adoptly-text-danger d-block"></span>
    </div>
}
<div class="mb-3">
    <label asp-for="NewPassword" class="form-label"></label>
    <input asp-for="NewPassword" type="password" class="form-control" required>
    <span asp-validation-for="NewPassword" class="small adoptly-text-danger d-block"></span>
</div>
<div class="mb-5">
    <label asp-for="ConfirmPassword" class="form-label"></label>
    <input asp-for="ConfirmPassword" type="password" class="form-control" required>
    <span asp-validation-for="ConfirmPassword" class="small adoptly-text-danger d-block"></span>
</div>
<button type="submit" class="btn rose-btn">Update password</button>