@{
    ViewData["Title"] = "About us";
}

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6 bg-white about-us-text">
            <h1>About us: the Adoptly story!</h1>

            <p>Hey there, fellow animal enthusiast! Ever wondered if there's a more heartwarming way to meet your next
                furry best friend? Well, hold onto your leashes, because we've got some tail-wagging news for you!</p>

            <p>Welcome to <strong>Adoptly</strong> - where magic happens, one paw at a time!</p>

            <p>We are all HUGE animal lovers here (like, seriously) and wanted to sprinkle a little
                fairy dust over animal shelters throughout Australia. The dream? To boost those adoption rates and fill
                homes with the sound of happy purrs and wagging tails. So, with a wave of our digital wand, we brought
                <strong>Adoptly</strong> to life, a special place designed to make love-at-first-sight moments happen!
            </p>

            <h3>What's the secret sauce of Adoptly?</h3>
            <ul>
                <li><strong>Personal touch</strong>: Think of Adoptly as your magical pet-matchmaker! Tell us what makes
                    your heart race - a fluffy tail, playful nature, or maybe an aloof attitude? Our platform will whisk
                    up the <em>purrfect</em> match in seconds!</li>
                <li><strong>Show and tail</strong>: Dive deep into each pet’s unique profile - from their quirky antics
                    to their adorable looks. It's all about giving every pet a spotlight to shine and woo their future
                    families.</li>
                <li><strong>Instant woofs</strong>: Get notifications the moment a furball fitting your wishlist is up
                    for adoption! We're like your personal adoption news broadcaster.</li>
                <li><strong>Sharing the love</strong>: Found your dream pet? Spread the joy and share your pet adoption
                    journey on social media. Let the world see the happiness only a pet can bring.</li>
            </ul>

            <p>At the heart of Adoptly, it’s all about love, connection and giving every animal the chance to be seen,
                understood and, most importantly, loved. Whether you're looking for a couch-potato buddy or a hiking
                partner, Adoptly is here to make it happen.</p>

            <p>So, are you ready to meet your match? Dive in and discover the magic of Adoptly. After all, every pet
                deserves a chance at love and every human deserves a loyal friend!</p>

            <p>Spread the word, spread the love and let's make the world a happier place, one adoption at a time!
            </p>
        </div>

        <div class="col-md-6 d-flex justify-content-center align-items-center">            
            <img class="responsive-img" src="/assets/img/logos/dog_blob_02.png" alt="This is an image of a dog.">
        </div>
    </div>
</div>