@{ ViewData["Title"] = "Contact us"; }

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6 bg-white contact-us-text">
            <h1>Contact us: we're all ears (and tails)!</h1>
            <p>
                Got a question, feedback, or just a cute pet picture to share? We're here for it all! The
                <strong>Adoptly</strong> team is always eager to hear from our amazing community of animal lovers.
                Whether it's about our platform, a specific pet, or even some feature suggestions – drop us a line!
            </p>
            <h3>How to reach out?</h3>
            <ul class="list-unstyled">
                <li class="d-flex pb-2">
                    <div class="col-3 d-flex">
                        <i class="fas fa-envelope-open-text me-2"></i><strong>Email us:</strong>
                    </div>
                    <div class="col">
                        <span>For general queries or feedback, shoot us an email at: 
                        <a href="mailto:info@adoptly.com">info@adoptly.com</a></span>
                    </div>
                </li>
                <li class="d-flex pb-2">
                    <div class="col-3 d-flex">
                        <i class="fas fa-phone-alt me-2"></i><strong>Call us:</strong>
                    </div>
                    <div class="col">
                        <span>For immediate assistance or queries about a specific pet, ring us at: 
                        <a href="tel:+1234567890">+123 456 7890</a></span>
                    </div>
                </li>
                <li class="d-flex pb-2">
                    <div class="col-3 d-flex">
                        <i class="fas fa-hashtag me-2"></i><strong>Social paws:</strong>
                    </div>
                    <div class="col">
                        <span>Slide into our DMs! We're active on Instagram, Facebook and Twitter. 
                        Follow @@AdoptlyOfficial!</span>
                    </div>
                </li>
                <li class="d-flex pb-2">
                    <div class="col-3 d-flex">
                        <i class="fas fa-mail-bulk me-2"></i><strong>Postal pups:</strong>
                    </div>
                    <div class="col">
                        <span>Send us snail mail at: Adoptly HQ, 1234 Pet Street, Furryville, AU 5678.</span>
                    </div>
                </li>
            </ul>
            <p>
                If you're in the neighbourhood, feel free to visit our headquarters. We always have some furry
                friends hanging around, eager to meet you. Just remember to book an appointment first!
            </p>
            <p>
                We appreciate every message, shout-out and word of encouragement. Your feedback helps us
                improve and serve our furry community even better. Let's stay connected!
            </p>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img class="responsive-img contact-us-img" src="/assets/img/logos/cat_blob_02.png" alt="This is an image of a cat.">
        </div>
    </div>
</div>