@{
    ViewData["Title"] = "Privacy Policy and Terms of Use";
}

<div class="row">
    <div class="col-12 bg-white about-us-text">
        <div class="p-lg-5 lh-lg">
            <h1 class="text-center mb-5 pb-lg-5">Adoptly's Privacy Policy and Terms of Use</h1>
            <h2 class="fs-4 mb-4">Purpose of this document</h2>
            <p>
                'Adoptly' serves as a platform facilitating the adoption process between animal Shelters and Adopters.
                This policy outlines the responsibilities and limitations of ‘Adoptly’ in the adoption process and
                specifies the privacy practices around Adoptly’s collection of user information.
            </p>
            <hr class="text-muted mt-5"/>
            <h2 class="fs-4 mt-5 mb-4">Adoption Process Responsibilities</h2>
            <h3 class="fs-6">
                <u>Communication</u>
            </h3>
            <p>
                ‘Adoptly’ is not responsible for the communication between the Shelter and Adopter. Once an Adopter
                applies for an animal and the shelter approves the application, the subsequent communication is at the
                discretion and responsibility of the Shelter and the Adopter.
            </p>
            <h3 class="fs-6">
                <u>Transportation</u>
            </h3>
            <p>
                Adoptly does not handle or arrange the transportation of animals from the shelter to the adopter. The
                logistics and arrangements for transportation fall under the jurisdiction of the respective shelter.
            </p>
            <h2 class="fs-4 mt-5 mb-4">Application Approval</h2>
            <h3 class="fs-6">
                <u>Decision Authority</u>
            </h3>
            <p>
                Adoptly does not influence or determine whether a Shelter approves or rejects an adoption application.
                The decision rests solely with the Shelter, and ‘Adoptly’ does not interfere in this process.
            </p>
            <h2 class="fs-4 mt-5 mb-4">Animal Representation</h2>
            <h3 class="fs-6">
                <u>Miscrepresentation</u>
            </h3>
            <p>
                Adoptly does not take responsibility for any misrepresentations of an animal listed on the ‘Adoptly’
                platform. The accuracy of information provided by the Shelter regarding an animal's characteristics,
                health, or behaviour is solely the responsibility of the respective Shelter.
            </p>
            <hr class="text-muted mt-5"/>
            <h2 class="fs-4 mt-5 mb-4">Privacy Policy</h2>
            <h3 class="fs-6">
                <u>Information Collection</u>
            </h3>
            <p>
                ‘Adoptly’ collects the following information for the adoption process:
            </p>
            <ol>
                <li>Adopter and Shelter email addresses</li>
                <li>Adopter and Shelter residential and business addresses</li>
                <li>Adopter and Shelter state of residence</li>
                <li>Adopter and Shelter phone numbers</li>
                <li>Adopter and Shelter usernames and account passwords</li>
            </ol>
            <h3 class="fs-6">
                <u>Data Usage</u>
            </h3>
            <p>
                The collected information is used exclusively for the adoption process and platform functionality. It
                is not shared or sold to third parties for marketing or any other purposes.
            </p>
            <h3 class="fs-6">
                <u>Data Retention</u>
            </h3>
            <p>
                ‘Adoptly’ retains user information for the duration necessary for adoption-related processes. Users
                have the right to the deletion of their data at any stage, which can be manually achieved through
                their account settings.
            </p>
            <h3 class="fs-6">
                <u>Contact Information</u>
            </h3>
            <p>
                For inquiries or concerns regarding this policy, please contact ‘Adoptly’ at info@adoptly.com
            </p>
            <p>
                By using the 'Adoptly' platform, users agree to abide by the terms outlined in this policy document.
                ‘Adoptly’ is committed to facilitating a transparent, secure, and responsible adoption process for
                both Shelters and Adopters.
            </p>
            <hr class="text-muted mt-5"/>
            <h2 class="fs-4 mt-5 mb-4">Interpretation</h2>
            <h3 class="fs-6">
                <u>Definitions</u>
            </h3>
            <p>
                For the purpose of this document, the following definitions are to apply:
            </p>
            <ol>
                <li>
                    <strong>Shelter</strong>: Any individual or entity subscribed to the ‘Adoptly’ platform for the
                    purpose of advertising their pets/animals for adoption.
                </li>
                <li>
                    <strong>Adopter</strong>: Any individual or entity subscribed to the for the purpose of adopting
                    an animal through the ‘Adoptly’ service.
                </li>
                <li>
                    <strong>'Adoptly''</strong>: The official ‘Adoptly’ web application service.
                </li>
            </ol>
        </div>
    </div>
</div>